body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue";
  font-size: 18px;
  color: white;
  background-image: url("./background.jpeg");
}

.container {
  margin-top: 25px;
  column-gap: 5px;
}
h5 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  text-align: center;
  background: #efeee7;
}

.card {
  width: 15rem;
  margin: 10px;
  position: relative;
}
.like {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(51, 143, 143, 0.651);
}

.like:hover {
  background: teal;
}

nav {
  font-family: "Bebas Neue";
  font-size: 30px;
}

#title {
  font-size: 45px;
}

h4 {
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size: 25px;
  color: gray;
}

hr {
  background-color: lightgray;
}

.recentlinks {
  color: lightgray;
}

.publish_date {
  color: lightgray;
  line-height: 5px;
  font-size: 16px;
}

#textarea1 {
  visibility: hidden;
}

#welcome {
  padding: 10px 0 10px 10px;
}

.loginstuff {
  text-decoration: none;
  color: white;
  padding: 10px 0 10px 10px;
}
.myFavs {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  color: white;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.tcontainer {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 2em;
  background-color: #0e0a00;
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker-move:hover {
  animation-play-state: running;
}
.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
